body {
	height: 98vh;
	width: 90%;
	background: url('images/sidebg1.png') center / cover no-repeat;
}

.form1 {
	position: fixed;
	background: rgba(255, 255, 255, 0.5);
	top: 23%;
	left: 24.5%;
	border: 1px solid black;
	max-width: 790px;
	width: 100%;
	border-radius: 6px;
}

.form1 .formbox{
	display: flex;
}

.formbox .formdetails {
	max-width: 329px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	background: url("images/sidebgg.jpg");
	background-size: cover;
	background-position: center;
}

.formbox h2 {
	text-align: center;
	margin-bottom: 40px;
	font-weight: 550;
	font-family: Tahoma, sans-serif;
}

.formbox .formcontent {
	width: 100%;
	padding: 55px 0;
}

form .inputfield {
	width: 85%;
	height: 40px;
	margin: 30px;
	position: relative;
}

.inputfield input:focus {
	border-color: #50C4ED;
	transition: 0.3s ease;
}

form .inputfield input {
	width: 100%;
	height: 90%;
	border: 1px solid #717171;
	outline: none;
	font-size: 0.95rem;
	border-radius: 5px;
}

form .inputfield label {
	position: absolute;
	top: -30%;
	left: 7px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: 0.3s ease;
}
 
form button {
	width: 85%;
	outline: none;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	padding: 14px 0;
	margin-left: 35px;
	border-radius: 4px;
	background: #00bcd4;
	cursor: pointer;
	color: #fff;
	transition: 0.3s ease;
}

form button:hover {
	background: #0097a7;
}
